table td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

table td.vacant {
    background-color: white;
}

table td.line {
    background-color: lightgray;
}

table td.ignition {
    background-color: crimson;
}

table td.line.burning {
    background-color: indianred;
}

table td.circruit {
    background-color: darkslategray;
}

table td.circruit.burning {
    background-color: maroon;
}